body{
	background: url("/MCserver/img/background.jpg");
	height: 100vh;
	margin: 0 0 0 0;
}
.mcs_main{
	position: fixed;
	align-items: center;
	display: block;
	top: 40vh;
	width: 100vw;
	/* width: ;
	height: ; */
	background-color: #f4f4f4;
	z-index: 1000; /* 确保元素位于顶层 */
	font-size: 50px;
}
.title{
	display: block;
	width: 100vw;
	text-align: center;l
}